<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--beans are the objects handled by spring framework
whenever someone mention alien keyword a class of com.demo.Alien should be created
-->
    <!--we have to write this for every class-->
    <bean id="alien" class="com.demo.Alien">
    </bean>
</beans>